# IDEs
.idea
*.DotSettings.user
.vs
.vscode

# .NET
**/[Bb]in
**/[Oo]bj
**/[Pp]ublish

# Terraform
**/.terraform
**/*.tfstate
**/*.tfstate.*
**/crash.log
**/crash.*.log
**/*.tfvars
**/*.tfvars.json
**/.terraform.tfstate.lock.info
**/.terraform.lock.hcl
